/* Loader.module.css */
.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
}

.loaderBox {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffefff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
